
{% extends '@EasyAdmin/default/layout.html.twig' %}



{% set _content_title = 'Admin dashboard' %}



{% block page_title -%}

    {{ _content_title }}


{%- endblock %}



{% block content_header %}

    <h1 class="title">{{ _content_title }}</h1>


{% endblock %}



{% block main %}

    image
    {#
    <div id="visualization_wrap">
        <div id="visualization"></div>
    </div>

    <div id="chart_div"></div>
    #}


    <div class="row">
        <div class="col-sm-7">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <span class="panel-title">
                        <a href="{{ path('easyadmin', {entity: 'Tags'}) }}">
                        {{ tags|length }} Tags
                        </a>
                    </span>
                    <span class="pull-right">
                        <input id="loan-search" placeholder="search text"/>
                    </span>
                </div>


                <div class="panel-body">
                    Tag Cloud or list here.

                </div>
            </div>
        </div>
    </div>


{% endblock %}

